$corTextoPrincipal: #fafafa;
$corTextoSecundario: #030303;
$corFundo: #fefefe;
$corBotao: #4f2ac3;
$blue1: #1b6ca7; 
$blue2: #442bdb;
$blue3: #180970;
$blue4: #0e0444;
$blue5: #05011b;
$pink: #89223b;
$yellow: #9c791d;
